[SDConfig]
User = "${USER}"
FingerPrint = "${FINGERPRINT}"
KeyFile = "${KEYFILE}"
Tenancy = "${TENANCY}"
Region = "${REGION}"
Compartment = "${COMPARTMENT}"
RefreshInterval = "${REFRESH_INTERVAL}"
PassPhrase = "${PASSPHRASE}"
Port = "${PORT}"